[Unit]
Description=Na Ponimanii Telegram Bot
After=network.target
Wants=na_ponimanii_server.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/na_ponimanii
ExecStart=/usr/bin/python3 /opt/na_ponimanii/src/bot/telegram_bot.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=na_ponimanii_bot
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target